/* MOBILE FIRST */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}

/* CABEÇALHO */
.cabecalho {
    padding: 0% 0% 0% 0%;
    position: fixed;
    width: 100%;
    bottom: 0%;
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.cabecalho__menu__logo {
    margin: 2%;
    padding: 0.5%;
    border-radius: 100%;
/*     height: 70px;*/
}

.cabecalho__menu__link {
    margin: 0% 1%;
    padding: 0.5% 1%;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    border-radius: 100px;
    cursor: pointer;
}


/* CONTEÚDO */
.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    padding: 3%;
    text-decoration: none;
}

.apresentacao__links__navegacao:hover {
    border-radius: 100px;
    cursor: pointer;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5% 5%;
}

.apresentacao__conteudo {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 5% 0%;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.apresentacao__imagem {
    margin: 2%;
    width: 50%;
    order: -1;
}

/* RODAPÉ */
.rodape {
    width: 100%;
    padding: 0.5%;
}


/* VERSÃO TABLET */
@media (min-width: 834px) {
      .cabecalho {
        bottom: auto;
        left: 0%;
        height: 100%;
        width: auto;
        padding: 10px;
    }
    .cabecalho__menu {
        flex-direction: column;
        gap: 20px;
    }

    /* RODAPE */
    .rodape {
        position: absolute;
        right: 0%;
        width: 90%;
    }
}

/* VERSÃO DESKTOP */
@media (min-width: 1200px) {
    .cabecalho {
        left: auto;
        height: auto;
        width: 100%;
        position: sticky;
        top: 0;
        padding: 0%;
    }
    .cabecalho__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    .apresentacao {
        flex-direction: row;
        padding: 10% 15%;
    }
    .apresentacao__conteudo {
        width: 50%;
    }

        /* RODAPE */
        .rodape {
            position: static;
            width: auto;
        }
}