@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria: black;
    --cor-secundaria: white;
    --cor-terciaria: #feef8c;
    --cor-quaternaria: #ffeca3;
    --cor-hover: #686868;


    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-rem-cabecalho: 1.12rem;
    --fonte-rem-titulo: 2.25rem;
    --fonte-rem-texto: 1.5rem;
    --fonte-rem-rodape: 0.93rem;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}


/* CABEÇALHO */
.cabecalho {
    background-color: var(--cor-primaria);
}

.cabecalho__menu__logo {
    background-color: var(--cor-terciaria);
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: var(--fonte-rem-cabecalho);
    color: var(--cor-terciaria);
}

.cabecalho__menu__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao__links__navegacao {
    border: 2px  outset var(--cor-quaternaria);
    font-size: var(--fonte-rem-texto);
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
}
.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

/* CONTEÚDO */

.apresentacao__conteudo__titulo {
    font-size: var(--fonte-rem-titulo);
    font-family: var(--fonte-primaria);
}
.apresentacao__conteudo__texto {
    font-size: var(--fonte-rem-texto);
    font-family: var(--fonte-secundaria);
}
.título-destaque {
    color: var(--cor-terciaria);
}
.texto-destaque {
    color: var(--cor-quaternaria);
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: var(--fonte-rem-texto);
}



/* RODAPÉ */
.rodape {
    color: black;
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-rem-rodape);
    font-weight: 500;
}


